/**
 *	Author: JCloudYu
 *	Create Date: 2019/06/25
**/
.lds-facebook { display:inline-block; position:relative; width:65px; height:35px; }
.lds-facebook div {
	display:inline-block;
	position:absolute; left:6px; width:7px;
	background:var(--color-white);
	animation:lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook.bottom-up div {
	animation:lds-facebook-bottom-up 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) { left:5px;  animation-delay:-0.48s; }
.lds-facebook div:nth-child(2) { left:17px; animation-delay:-0.36s; }
.lds-facebook div:nth-child(3) { left:29px; animation-delay:-0.24s; }
.lds-facebook div:nth-child(4) { left:41px; animation-delay:-0.12s; }
.lds-facebook div:nth-child(5) { left:53px; animation-delay:0s; }
@keyframes lds-facebook {
	0% { top:5px; height:5px; }
	50%, 100% { top:5px; height:25px; }
}
@keyframes lds-facebook-bottom-up {
	0% { bottom:5px; height:5px; }
	50%, 100% { bottom:5px; height:25px; }
}



.lds-ripple { display:inline-block; position:relative; width:64px; height:64px; }
.lds-ripple div {
	position:absolute;
	border:4px solid var(--color-white); opacity:1; border-radius:50%;
	animation:lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) { animation-delay:0s; }
.lds-ripple div:nth-child(2) { animation-delay:-0.5s; }
.lds-ripple div:nth-child(3) { animation-delay:-1.0s; }
@keyframes lds-ripple {
	0% { top:28px; left:28px; width:0; height:0; opacity:1; }
	100% { top:-1px; left:-1px; width:58px; height:58px; opacity:0; }
}


.lds-dual-ring {
	position:relative; width:120px; height:120px;
	display:inline-flex; align-items:center; justify-content: center;
}
.lds-dual-ring:after {
	display:block; content:" ";
	position:absolute; left:0; top:0; z-index:2;
	width:100%; height:100%; box-sizing:border-box;
	border-radius:50%; border:5px solid var(--color-white); border-right-color:transparent; border-left-color:transparent;
	animation:lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}


.lds-dual-rings {
	position:relative; width:120px; height:120px;
	display:inline-flex; align-items:center; justify-content: center;
}
.lds-dual-rings:before {
	display:block; content:" ";
	position:absolute; left:10px; top:10px; z-index:1;
	width:calc(100% - 10px * 2); height:calc(100% - 10px * 2); box-sizing:border-box;
	border-radius:50%; border:5px solid var(--color-white); border-top-color:transparent; border-bottom-color:transparent;
	animation:lds-dual-rings 1.5s linear infinite;
}
.lds-dual-rings:after {
	display:block; content:" ";
	position:absolute; left:0; top:0; z-index:2;
	width:100%; height:100%; box-sizing:border-box;
	border-radius:50%; border:5px solid var(--color-white); border-right-color:transparent; border-left-color:transparent;
	animation:lds-dual-rings-r 1s linear infinite;
}
@keyframes lds-dual-rings {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
@keyframes lds-dual-rings-r {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(-360deg); }
}
